body {
    font-family: Helvetica, Arial, sans-serif;
}

.hidden {
    display: none;
}

div.player {
    display: inline-table;
    vertical-align: middle;
}

div.air-sup-track {
    display: inline-table;
    vertical-align: middle;
}

div.flag-box {
    margin-left: 20px;
    height: 58px;
    width: 60px;
    display: block;
    border: 1px solid black;
    vertical-align: middle;
}

div.track {
    margin: 0;
    padding: 0;
    border: 0;
    height: 50px;
}

p.label {
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    width: 75px;
    display: inline-table;
}

p.result-label {
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    width: 175px;
    display: inline-table;
    margin-bottom: 8px;
    margin-top: 2px;
}

p.value {
    text-align: left;
    padding-left: 30px;
    display: inline-table;
    margin-bottom: 8px;
    margin-top: 2px;
}

p.heading {
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}

p.extra-padding {
    padding-top: 20px;
}

p.major-heading {
    font-weight: bold;
    text-align: left;
    padding-left: 70px;
    font-size: 115%;
}

div.selected-mode {
    display: block;
    border: 2px solid deepskyblue;
    border-radius: 5pt;
    margin: 0;
    padding: 0;
    min-height: 80vh;
    width: 98%;
    min-width: 700px;
}

li.selected {
    font-weight: bold;
    background-color: deepskyblue;
}

.tabbed {
    margin-bottom: 4pt;
}

ul.tabbed {
    list-style-type: none;
}

ul.boxes {
    list-style-type: none;
    display: inline-table;
}

li.box {
    display: table-cell;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

ul.air-sup-boxes {
    list-style-type: none;
    display: inline-table;
}

li.air-sup-box {
    display: table-cell;
    border: 1px solid black;
    height: 60px;
    width: 80px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    font-size: 10pt;
}

ul.mission-types {
    list-style-type: none;
}

li.mission-type {
    display: inline;
    padding: 4pt 5pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

ul.target-types {
    list-style-type: none;
    margin-bottom: 15px;
}

#adf-track-selected {
    margin-top: 15px;
    padding-top: 15px;
}

li.target-type {
    display: inline;
    padding: 4pt 5pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

li.tabbed {
    display: inline;
    padding: 4pt 5pt;
    cursor: pointer;
    border-radius: 5pt 5pt 0 0;
    border: 1px solid deepskyblue;
}

ul.drm-modifiers {
    display: block;
    list-style-type: none;
    margin-bottom: 30px;
}

li.drm-modifier {
    margin-left: 10px;
    margin-top: 15px;
}

input.drm-checkbox {
    vertical-align: middle;
    display: inline-table;
    margin-right: 25px;
}

input.drm-drop {
    vertical-align: middle;
    display: inline-table;
    margin-right: 8px;
    font-size: 10pt;
}


div.drm-drop {
    vertical-align: middle;
    display: inline-table;
    border: 1px solid black;
    width: 21px;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
    margin-right: 10px;
    font-size: 10pt;
}

input.dice-roll-button {
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 20px;
    display: inline-table;
}

span.caveat {
    margin-left: 45px;
    font-size: 85%;
}

.adv-adf-selector {
    display: inline-table;
    margin-left: 10px;
}

span.adf-mode-caveat {
    font-size: 75%;
    font-weight: normal;
}

ul.det-types {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
}

li.det-type {
    display: inline;
    padding: 4pt 4pt;
    cursor: pointer;
    border-radius: 3pt;
    border: 1px solid deepskyblue;
    font-size: 10pt;
}

p.det-label {
    font-weight: bold;
    text-align: left;
    padding-left: 50px;
    margin-top: 0;
    height: 32px;
    display: inline-table;
}

ul.int-terrain-selector-elements {
    list-style-type: none;
}

li.int-terrain-selector-element {
    display: inline;
    padding: 4pt 5pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

ul.int-value-selector-elements {
    list-style-type: none;
}

li.int-value-selector-element {
    display: inline;
    padding: 4pt 5pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

ul.strike-value-selector-elements {
    list-style-type: none;
}

li.strike-value-selector-element {
    display: inline;
    padding: 4pt 5pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

ul.strike-terrain-selector-elements {
    list-style-type: none;
}

li.strike-terrain-selector-element {
    display: inline-block;
    padding: 4pt 5pt;
    margin-bottom: 8pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

ul.strike-type-selector-elements {
    list-style-type: none;
}

li.strike-type-selector-element {
    display: inline-block;
    padding: 4pt 5pt;
    margin-bottom: 8pt;
    cursor: pointer;
    border-radius: 5pt;
    border: 1px solid deepskyblue;
}

ul.floating-dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
    padding: 0;
    list-style-type: none;
    width: auto;
}

li.drop-down-choice {
    padding: 5px 20px 4px;
    text-decoration: none;
    display: block;
    background-color: dodgerblue;
}

li.drop-down-choice:hover {
    background-color: deepskyblue;
}

.drop-down-visible {
    display: block;
}